@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat" ,"Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: rgb(102, 172, 119);
}

.container {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 70%;
    height: 70%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    transition: box-shadow .5s;
}
.card:hover {
    box-shadow: 1px 2px 20px rgba(26, 26, 26, 0.747);
}

.card .body {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.card .photo-container {
    width: 40%;
}
.card .photo {
    background-image: url('./me.jpeg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card .body {
    padding: 5% 5% 2% 5%;
}
.card .body .title {
    color: rgb(47, 82, 56);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card .footer img {
    width: 30px;
    padding: 5px;
}

@media (max-width: 860px) {
    .card {
        width: 100%;
        height: 100%;
        background-color: rgb(226, 226, 226);
        display: flex;
        flex-direction: column;
        overflow: auto;

    }
    .card .body {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1.5px;
    }

    .card .photo-container {
        width: 100%;
        height: 45vh;
        min-height: 370px;
    }
    .card .photo {
        background-image: url('./me.jpeg');
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .card .body .title {
        color: rgb(47, 82, 56);
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .card .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px; 
    }
    .card .footer img {
        width: 40px;
        padding: 5px;
    }

}